{% extends 'base.html' %}

{% block content %}

<div class="container" align="center">
    <font size="4" style="font-weight: 700;">인증 번호가 입력하신 메일로 발송되었습니다. </font>
    <form method="post" class="post-form" action="{% url 'common:auth_email' %}">
        <!-- 보안을 위한 난수 생성기 -->
        {% csrf_token %}
        {% include "form_errors.html" %}
        <div>
            <input name="userid" id="userid" value="{{ userid }}" hidden>
            <label for="auth_num"> 인증번호 </label>
            <input type="text" name="auth_num" id="auth_num"
                   value="{{ form.userid.value|default_if_none:'' }}">
        </div>
        <button type="submit"> 인증! </button>
    </form>
</div>

{% endblock %}
