{% extends 'base.html' %}
{% load static %}
{% block content %}

<script>
    function change() {
        var gett = document.getElementById("userid").value;
        console.log('가져온 텍스트: ', gett);
    }
</script>

<h1 class="nav-h1">회원가입 페이지</h1>

<div>
    <form method="post" id="server" class="post-form">
        <!-- 보안을 위한 난수 생성기 -->
        {% csrf_token %}
        {% include "form_errors.html" %}
        <div style="margin-right:20px;">
            <label for="username"> 사용자 이름 </label>
            <input type="text" name="username" id="username"
                   value="{{ form.username.value|default_if_none:'' }}" required>
        </div>
        <div style="margin-right:20px;">
            <span>사용자 ID</span>
            <input type="text" name="userid" id="userid" class="userid_input"
                   value="{{ form.userid.value|default_if_none:'' }}" required>
            <button type="button" id="add_feed" onclick="change();">아이디 입력 및 중복확인</button>
            <img id="id_check_success" style="display: none;" src="{% static 'image/check.png' %}" width="20px">
        </div>
        <div>
            <label for="password1"> 비밀번호 </label>
            <input type="password" name="password1" id="password1"
                   value="{{ form.password1.value|default_if_none:'' }}" required>
        </div>
        <div>
            <label for="password2"> 비밀번호 확인 </label>
            <input type="password" name="password2" id="password2"
                   value="{{ form.password2.value|default_if_none:'' }}" required>
        </div>
        <div style="margin-right:20px;">
            <label for="email"> 이메일 </label>
            <input type="email" name="email" id="email"
                   value="{{ form.email.value|default_if_none:'' }}" required>
            <button type="button" id="emailCheck"> 이메일 인증번호 받기 </button>
        </div>
        <br/>
        <button type="submit" value="signup"> 회원가입 </button>
    </form>
</div>

<!--<script language="JavaScript">-->
<!--    userid = document.getElementById('#userid').value-->
<!--    location.href="common/auth_email.html?" + "userid" + ": " + userid-->
<!--</script>-->

{% endblock %}
