<!-- 내비게이션 바 -->
<div class="nav-1">
    <!-- 홈으로 -->
    <div style="float:left; margin-right: 20px;">
        <a href="{% url 'kodeal:index' %}"><button>홈으로</button></a>
    </div>
    <!-- 회원가입 -->
    <div style="float:right; margin-right: 20px;">
        {% if not user.is_authenticated %}
            <a href="{% url 'common:signup' %}"><button>회원가입</button></a>
        {% endif %}
    </div>
    <!-- 일반 로그인 -->
    <div class="nav-item" style="float:right; margin-right: 20px;">
        {% if not user.is_authenticated %}
            <a href="{% url 'common:login_main_test' %}"><button>로그인</button></a>
        {% endif %}
    </div>
    <!-- 사용자 정보 및 로그아웃 -->
    <div class="nav-item" style="float:right; margin-right: 20px;">
        {% if user.is_authenticated %}
            <a href="javascript:{document.getElementById('logout').submit()}">{{ user.username }}님 (Logout)</a>
            <form id="logout" method="POST" action="{% url 'common:logout_main' %}">
                {% csrf_token %}
            </form>
        {% endif %}
    </div>
    <!-- 마이페이지 진입 -->


    <!-- QnA화면 진입 -->
    {% if user.is_authenticated %}
        <div class="nav-item" style="float:right; margin-right: 20px;">
            <a href="{% url 'blog:qna_main' %}"><button>QnA</button></a>
        </div>
    {% endif %}
</div>

